<div class="delete-resource-modal">
  <!-- Use a form so that the enter key submits when typing a project name to confirm. -->
  <form>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
      </button>
      <h1 class="modal-title"><translate>Are you sure you want to delete the project</translate> '<strong>{{project | displayName}}</strong>'?</h1>
    </div>
    <div class="modal-body">
      <p>
        <translate>This will</translate> <strong translate>delete all resources</strong> <translate>associated with the project</translate> {{project | displayName}} <translate>and the action</translate>
        <strong translate>cannot be undone</strong>.  <translate>Make sure this is something you really want to do!</translate>
      </p>
      <div ng-show="typeNameToConfirm">
        <p><translate>Please type</translate> <strong>{{project.metadata.name}}</strong> <translate>to confirm deletion.</translate></p>
        <p>
          <label class="sr-only" for="resource-to-delete" translate>project to delete</label>
          <input
              ng-model="confirmName"
              id="resource-to-delete"
              type="text"
              class="form-control input-lg"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              autofocus>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel()" translate>Cancel</button>
      <button ng-disabled="typeNameToConfirm && confirmName !== project.metadata.name && confirmName !== (project | displayName : false)" class="btn btn-danger" type="submit" ng-click="delete()" translate>Delete</button>
    </div>
  </form>
</div>
