<div ng-if="!ctrl.error && !(ctrl.binding | isBindingFailed)">
  <div ng-if="ctrl.binding && !(ctrl.binding | isBindingReady)" class="results-status">
    <span class="fa fa-clock-o text-muted" aria-hidden="true"></span>
    <span class="sr-only" translate>Pending</span>
    <div class="results-message">
      <h3 translate>
        The binding is being created.
      </h3>
      <p class="results-message-details" translate>This may take several minutes.</p>
    </div>
  </div>
  <div ng-if="(ctrl.binding | isBindingReady)">
    <div class="results-status">
      <span class="pficon pficon-ok" aria-hidden="true"></span>
      <span class="sr-only" translate>Success</span>
      <div class="results-message">
        <h3>
          <span ng-if="ctrl.bindType === 'application'">
            <strong>{{ctrl.serviceToBind}}</strong> <translate>has been bound to</translate>
            <strong>{{ctrl.applicationToBind}}</strong> <translate>successfully.</translate>
          </span>
          <span ng-if="ctrl.bindType !== 'application'">
            <span translate>The binding</span><strong>{{ctrl.binding.metadata.name}}</strong><span translate> has been created successfully.</span>
          </span>
        </h3>
        <p class="results-message-details">
          <translate>The binding operation created the secret</translate>
          <a ng-if="ctrl.secretHref" ng-href="{{ctrl.secretHref}}">{{ctrl.binding.spec.secretName}}</a>
          <span ng-if="!ctrl.secretHref">{{ctrl.binding.spec.secretName}}</span>
          <translate>that you may need to reference in your application.</translate>
          <span ng-if="ctrl.showPodPresets" translate>Its data will be available to your application as environment variables.</span>
        </p>
      </div>
    </div>
    <div class="alert alert-info results-info" ng-if="ctrl.bindType === 'application'">
      <span class="pficon pficon-info" aria-hidden="true"></span>
      <span class="sr-only" translate>Info</span>
      <translate>The binding secret will only be available to new pods. You will need to redeploy your application.</translate>
    </div>
  </div>
</div>
<div ng-if="ctrl.error || (ctrl.binding | isBindingFailed)">
  <div class="results-status">
    <span class="pficon pficon-error-circle-o text-danger" aria-hidden="true"></span>
    <span class="sr-only" translate>Error</span>
    <div class="results-message">
      <h3 translate>
        The binding could not be created.
      </h3>
    </div>
  </div>
  <div ng-if="ctrl.error" class="sub-title">
    <span ng-if="ctrl.error.data.message">
      {{ctrl.error.data.message | upperFirst}}
    </span>
    <span ng-if="!ctrl.error.data.message" translate>
      An error occurred creating the binding.
    </span>
  </div>
  <div ng-if="!ctrl.error" class="sub-title">
    {{ctrl.binding | bindingFailedMessage}}
  </div>
</div>
